header {
  width: 100%;
  margin: auto;
}
header .banner1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .banner1 img {
  max-width: 970px;
  width: 100%;
}
header .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 25px 250px;
}
header .header .link {
  max-width: 1600px;
  width: 100%;
  margin-left: 50px;
}
header .header .link a {
  display: inline-block;
  width: 35px;
}
header .header .link a img {
  width: 22px;
}
header .header .login {
  width: 150px;
  display: flex;
  margin-right: 50px;
}
header .header .login a {
  font-family: "Noto Sans KR";
  display: block;
  color: #9e9e9e;
  font-size: 13px;
  width: 50px;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
  transition: all 0.7s;
}
header .header .login a:hover {
  text-decoration-line: underline;
}
header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .logo img {
  max-width: 285px;
  width: 100%;
}
header .gnb {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 20px;
}
header .gnb li a {
  font-size: 16px;
  color: #222;
  font-weight: 700;
  line-height: 40px;
}
header .gnb li img.menu {
  width: 40px;
  margin: 0 250px;
}
header .gnb li img.search {
  width: 40px;
  margin: 0 250px;
}

.main .home {
  margin: auto;
  position: relative;
  width: 100%;
  display: flex;
  height: 700px;
  justify-content: center;
  overflow: hidden;
  margin-top: -10px;
}
.main .home li {
  position: absolute;
  width: 100%;
}
.main .home li img {
  width: 100%;
  display: block;
  z-index: -99999px;
}
.main .home li.banner2 p {
  margin-left: 100px;
  margin-top: -410px;
  font-size: 20px;
  font-weight: 600;
}
.main .home li.banner2 h3 {
  margin-left: 95px;
  margin-top: 15px;
  font-size: 50px;
  font-family: "Noto Sans KR";
  font-weight: 600;
  margin-bottom: 20px;
}
.main .home li.banner2 span {
  font-size: 20px;
  margin-left: 100px;
  line-height: 1.5;
}
.main .home li.banner3 {
  left: 100%;
}
.main .home li.banner3 p {
  margin-left: 100px;
  margin-top: -420px;
  font-size: 20px;
  font-weight: 600;
}
.main .home li.banner3 h3 {
  margin-left: 95px;
  margin-top: 15px;
  font-size: 50px;
  font-family: "Noto Sans KR";
  font-weight: 600;
  margin-bottom: 20px;
}
.main .home li.banner3 span {
  font-size: 20px;
  margin-left: 100px;
  line-height: 1.5;
}
.main .home li.banner4 {
  left: 200%;
}
.main .home li.banner4 p {
  margin-left: 120px;
  margin-top: -390px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.main .home li.banner4 h3 {
  margin-left: 115px;
  margin-top: 15px;
  font-size: 50px;
  font-family: "Noto Sans KR";
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}
.main .home li.banner4 span {
  font-size: 20px;
  margin-left: 120px;
  line-height: 1.5;
  color: #fff;
}
.main .home li.banner5 {
  left: 300%;
}
.main .home li.banner5 p {
  margin-left: 110px;
  margin-top: -400px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.main .home li.banner5 h3 {
  margin-left: 105px;
  margin-top: 15px;
  font-size: 50px;
  font-family: "Noto Sans KR";
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}
.main .home li.banner5 span {
  font-size: 20px;
  margin-left: 110px;
  line-height: 1.5;
  color: #fff;
}
.main .btnList {
  display: flex;
  position: relative;
  row-gap: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  left: 47%;
  top: -110px;
  width: 50%;
  overflow: hidden;
}
.main .btnList li {
  background: url(../img/btnVisual.png) 0 -16px no-repeat;
  width: 14px;
  height: 15px;
  overflow: hidden;
}
.main .btnList li.on {
  background-position: 0 0;
}
.main .btnList .counter {
  display: none;
}
.main .btnImg {
  position: relative;
  top: -250px;
  width: 100%;
  opacity: 0.5;
}
.main .btnImg .left {
  position: absolute;
  left: 20px;
  top: -150px;
}
.main .btnImg .right {
  position: absolute;
  right: 20px;
  top: -150px;
}

.bg2 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 90px;
  gap: 32px;
}
.bg2 h2 {
  position: absolute;
  color: #222;
  font-size: 30px;
  font-weight: 800;
  top: -70px;
  left: 285px;
}
.bg2 h2::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #222;
  position: absolute;
  top: 50px;
  left: 0px;
}
.bg2 .img1 {
  margin-top: 20px;
  width: 340px;
  font-family: "Noto Sans KR";
}
.bg2 .img1 img {
  width: 100%;
}
.bg2 .img1 h3 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 16px;
}
.bg2 .img1 p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9e9e9e;
}
.bg2 .img2 {
  margin-top: 20px;
  width: 340px;
}
.bg2 .img2 img {
  width: 100%;
}
.bg2 .img2 h3 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 16px;
}
.bg2 .img2 p {
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9e9e9e;
}
.bg2 .img3 {
  margin-top: 20px;
  width: 340px;
  font-family: "Noto Sans KR";
}
.bg2 .img3 img {
  width: 100%;
}
.bg2 .img3 h3 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 16px;
}
.bg2 .img3 p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9e9e9e;
}

.bg3 {
  width: 100%;
  justify-content: center;
  position: relative;
  margin-top: 160px;
  gap: 32px;
}
.bg3 h2 {
  position: absolute;
  color: #222;
  font-size: 30px;
  font-weight: 800;
  top: -70px;
  left: 285px;
}
.bg3 h2::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #222;
  position: absolute;
  top: 50px;
  left: 0px;
}
.bg3 .img4 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
}
.bg3 .img4::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg3 .img4 .bg3-img1 {
  width: 500px;
  margin-top: 20px;
  margin-left: -290px;
}
.bg3 .img4 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg3 .img4 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg3 .img4 p {
  display: block;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
}
.bg3 .img4 .icon1 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg3 .img4 .icon1 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg3 .img5 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg3 .img5::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg3 .img5 .bg3-img2 {
  width: 500px;
  margin-top: 20px;
  margin-left: -200px;
}
.bg3 .img5 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg3 .img5 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg3 .img5 p {
  display: block;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
}
.bg3 .img5 .icon2 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg3 .img5 .icon2 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg3 .img6 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg3 .img6::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg3 .img6 .bg3-img3 {
  width: 500px;
  margin-top: 20px;
  margin-left: -100px;
}
.bg3 .img6 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg3 .img6 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg3 .img6 p {
  display: block;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
}
.bg3 .img6 .icon3 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg3 .img6 .icon3 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg3 .img7 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg3 .img7::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg3 .img7 .bg3-img4 {
  width: 500px;
  margin-top: 20px;
  margin-left: -210px;
}
.bg3 .img7 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg3 .img7 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg3 .img7 p {
  display: block;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
}
.bg3 .img7 .icon4 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg3 .img7 .icon4 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg3 .img8 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg3 .img8::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg3 .img8 .bg3-img5 {
  width: 500px;
  margin-top: 20px;
  margin-left: -245px;
}
.bg3 .img8 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg3 .img8 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg3 .img8 p {
  display: block;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
}
.bg3 .img8 .icon5 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg3 .img8 .icon5 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}

.bg4 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 250px;
  gap: 32px;
}
.bg4 h2 {
  position: absolute;
  color: #222;
  font-size: 30px;
  font-weight: 800;
  top: -70px;
  left: 285px;
}
.bg4 h2::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #222;
  position: absolute;
  top: 50px;
  left: 0px;
}
.bg4 .img9 {
  margin-top: 10px;
  width: 245px;
  font-family: "Noto Sans KR";
}
.bg4 .img9 img {
  width: 100%;
}
.bg4 .img9 p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
}
.bg4 .img10 {
  margin-top: 10px;
  width: 245px;
  font-family: "Noto Sans KR";
}
.bg4 .img10 img {
  width: 100%;
}
.bg4 .img10 p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
}
.bg4 .img11 {
  margin-top: 10px;
  width: 245px;
  font-family: "Noto Sans KR";
}
.bg4 .img11 img {
  width: 100%;
}
.bg4 .img11 p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
}
.bg4 .img12 {
  margin-top: 10px;
  width: 245px;
  font-family: "Noto Sans KR";
}
.bg4 .img12 img {
  width: 100%;
}
.bg4 .img12 p {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
}

.bg5 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 100px;
}
.bg5 .boxs7 {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  margin-left: 285px;
  position: relative;
}
.bg5 .boxs7 h2 {
  font-size: 30px;
  font-weight: 800;
}
.bg5 .boxs7 h2::after {
  content: "";
  position: absolute;
  width: 1090px;
  height: 1px;
  background-color: #222;
  top: 50px;
  left: 0px;
}
.bg5 .boxs7 p {
  margin-top: 20px;
  margin-right: -60px;
}
.bg5 .boxs8 {
  width: 100%;
  display: flex;
}
.bg5 .boxs8 .left {
  background-color: #000;
  width: 285px;
  margin-top: 50px;
  height: 580px;
}
.bg5 .boxs8 .video {
  margin-top: 50px;
  width: 1090px;
  background-color: #000;
  position: relative;
}
.bg5 .boxs8 .right {
  background-color: #000;
  width: 285px;
  margin-top: 50px;
  height: 580px;
}

.bg6 {
  width: 100%;
  justify-content: center;
  position: relative;
  margin-top: 200px;
  gap: 32px;
}
.bg6 h2 {
  position: absolute;
  color: #222;
  font-size: 30px;
  font-weight: 800;
  top: -70px;
  left: 285px;
}
.bg6 h2::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #222;
  position: absolute;
  top: 50px;
  left: 0px;
}
.bg6 .img13 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
}
.bg6 .img13::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .img13 .bg6-img1 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .img13 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .img13 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
  display: block;
}
.bg6 .img13 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .img13 .icon1 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .img13 .icon1 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .img14 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg6 .img14::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .img14 .bg6-img2 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .img14 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .img14 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg6 .img14 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .img14 .icon2 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .img14 .icon2 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .img15 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg6 .img15::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .img15 .bg6-img3 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .img15 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .img15 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg6 .img15 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .img15 .icon3 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .img15 .icon3 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .img16 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg6 .img16::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .img16 .bg6-img4 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .img16 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .img16 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg6 .img16 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .img16 .icon4 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .img16 .icon4 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .img17 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg6 .img17::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .img17 .bg6-img5 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .img17 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .img17 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg6 .img17 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .img17 .icon5 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .img17 .icon5 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .bg-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.bg6 .bg-btn .moreBtn {
  background-color: #e9e9e9;
  width: 1090px;
  height: 50px;
  line-height: 50px;
  border: 1px #232323 solid;
}
.bg6 .bg-btn .moreBtn p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.7s;
}
.bg6 .bg-btn .moreBtn p:hover {
  background-color: #232323;
  color: #fff;
}
.bg6 .containerbox {
  display: none;
}
.bg6 .containerbox .img18 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 30px;
}
.bg6 .containerbox .img18::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .containerbox .img18 .bg6-img6 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .containerbox .img18 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .containerbox .img18 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg6 .containerbox .img18 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .containerbox .img18 .icon6 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .containerbox .img18 .icon6 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .containerbox .img19 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg6 .containerbox .img19::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .containerbox .img19 .bg6-img7 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .containerbox .img19 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .containerbox .img19 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg6 .containerbox .img19 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .containerbox .img19 .icon7 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .containerbox .img19 .icon7 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .containerbox .img20 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg6 .containerbox .img20::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .containerbox .img20 .bg6-img8 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .containerbox .img20 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .containerbox .img20 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
  width: 530px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .containerbox .img20 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .containerbox .img20 .icon8 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .containerbox .img20 .icon8 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .containerbox .img21 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg6 .containerbox .img21::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .containerbox .img21 .bg6-img9 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .containerbox .img21 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .containerbox .img21 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg6 .containerbox .img21 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .containerbox .img21 .icon9 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .containerbox .img21 .icon9 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .containerbox .img22 {
  display: flex;
  justify-content: center;
  color: #222;
  position: relative;
  margin-top: 60px;
}
.bg6 .containerbox .img22::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  margin-top: 330px;
  opacity: 0.3;
}
.bg6 .containerbox .img22 .bg6-img10 {
  width: 500px;
  margin-top: 20px;
  margin-left: -10px;
}
.bg6 .containerbox .img22 span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}
.bg6 .containerbox .img22 h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
}
.bg6 .containerbox .img22 p {
  width: 530px;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 30px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.bg6 .containerbox .img22 .icon10 {
  width: 200px;
  margin-top: 40px;
  margin-left: 30px;
}
.bg6 .containerbox .img22 .icon10 img {
  width: 33px;
  margin-right: 8px;
  opacity: 0.3;
}
.bg6 .bg7 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #222;
  position: relative;
  margin-top: 100px;
}/*# sourceMappingURL=main.css.map */